html,
body {
  padding: 0;
  margin: 0;
 
}

* {
  box-sizing: border-box;
} 


@keyframes highlight {
  0% {
    background-color: red;
  }
  100% {
    background-color: none;
  }
}






.IndivisualCalendarDiv{
  width: 14vw;
  max-width: 100px;
  height: 14vw;
  max-height: 100px;
  background-color: white;
  border: 2px;
  margin: 1px;
  padding-left: 9px;
  padding-right: 9px;
  cursor: pointer;

}

.mainDiv{
  height: 90vh;
  width: 80vw;
  margin: auto;
  text-align: center;
  position: relative;
  padding: 20px;
  border-radius: 12px;
  background-color: blue;
  background: rgb(54,54,54);
  background: linear-gradient(180deg, rgba(54,54,54,1) 0%, rgba(0,0,0,.5) 100%);
  margin-top: 5vh;
}

.IndivisualCalendarDiv.disabled{
  background-color: rgb(56, 56, 56);
  cursor: none;
}


.calendarDayHeader{
  color: rgb(0, 0, 0);
  font-size: small;
}
.calendarAppointmentNumberHeader{
  font-size: medium;
  color: black;
  text-align: right;
  position: relative;
  bottom: 0px;
}
.calendarAppointmentNumberHeader.highAvailability{
  color: rgb(24, 243, 24);
}

.calendarAppointmentNumberHeader.mediumAvailability{
  color: rgb(243, 236, 24);
}

.calendarAppointmentNumberHeader.lowAvailability{
  color: rgb(243, 24, 24);
}

.caledarWeekdayHeader{
  width: 14vw;
  max-width: 100px;
  margin: 1px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #171717
  }
  h1{
    font-family: sans-serif;
  }
  h2{
    font-family: sans-serif;
  }
  h3{
    font-family: sans-serif;
  }
  h4{
    font-family: sans-serif;
  }
}
