html,
body {
  padding: 0;
  margin: 0;
 
}

* {
  box-sizing: border-box;
} 

.IndivisualCalendarDiv{
  width: 14vw;
  max-width: 100px;
  height: 14vw;
  max-height: 100px;
  background-color: white;
  border: 2px;
  margin: 1px;
  padding-left: 9px;
  padding-right: 9px;
  cursor: pointer;

}
.IndivisualCalendarDiv.disabled{
  background-color: rgb(56, 56, 56);
  cursor: none;
}

.calendarDayHeader{
  color: rgb(169, 168, 168);
  font-size: small;
}
.calendarAppointmentNumberHeader{
  font-size: medium;
  color: black;
  text-align: right;
  position: relative;
  bottom: 0px;
}
.calendarAppointmentNumberHeader.highAvailability{
  color: rgb(24, 243, 24);
}

.calendarAppointmentNumberHeader.mediumAvailability{
  color: rgb(243, 236, 24);
}

.calendarAppointmentNumberHeader.lowAvailability{
  color: rgb(243, 24, 24);
}

.caledarWeekdayHeader{
  width: 14vw;
  max-width: 100px;
  margin: 1px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: 
    rgba(69, 69, 69, 1);
  }
}
